@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
$dgray: #6f6f7b;
$lgray: #9e9e9f;
$red: #ff485d;
$r: #ff364b;
$y: #ffc336;
$g: #b3ce3e;
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1439538582_1292963.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1439538582_1292963.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1439538582_1292963.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1439538582_1292963.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1439538582_1292963.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
.icon-search:before {
  content: '\e600';
}
.icon-left:before {
  content: '\e603';
}
.icon-right:before {
  content: '\e604';
}
.no-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.size-base {
  font-size: 12px!important;
  @media screen and (min-width: 360px) {
    font-size: 13.5px!important;
  }
  @media screen and (min-width: 400px) {
    font-size: 15px!important;
  }
}

html {
  @extend .size-base;
}
th {
  border: 1px solid $lgray;
  font-size: 1.5rem;
}
td {
  border: 1px solid #eee;
  font-size: 1.2rem;
}

table
{
  width:100%;
  border-collapse: collapse;
}

th, td
{
  text-align:left;
  padding:1rem;
}

.hit-words-table {
  th {
    color: $dgray;
  }
  tr {
    color: $lgray;
  }
  tr.head {
    background-color: #dfdfdf;
    color: #4e4e4e;
    border: none;
    th {
      border: none;
    }
  }
  .name {
    color: $dgray;
    line-height: 1.2em;
    padding: 0.9em 1em;
  }
  .icon-right {
    float: right;
    color: $g;
  }
  .th1 {
    width: 60%;
  }
  .th2 {
    width: 40%;
  }
  .no-hit {
    padding: 2rem;
    color: $lgray;
    font-size: 1.2rem;
    border: none;
    td {
      text-align: center;
      border: none;
    }
    .no-hit-img {
      width: 225px;
      display: block;
      margin: 3em auto 2em;
    }
  }
}
.content-page {
  padding-top: 3.6rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.6rem;
  background-color: black;
  z-index: 1000;
  .header-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    z-index: 1200;
    color: white;
    .iconfont {
      font-size: 1.6rem;
    }
  }
  .header-middle {
    color: white;
    font-size: 1.4rem;
    color: white;
    padding: .9rem 0;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1100;
  }
  .header-right {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    padding: 1rem;
    .iconfont {
      font-size: 1.6rem;
    }
    z-index: 1000;
  }
}
#searchterm {width: 100%; background: none; border: none; 
  -webkit-appearance: none;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  outline: none;
}
.detail-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 2000;
  background-color: white;
  @include transform(translate3d(0,0,0));
  @include transition(all, 500ms);
  &.hidden {
    @include transform(translate3d(100%, 0, 0));
  }
  header .header-middle.detail-name {
    padding: 1.1rem 0;
  }
  .table {
    color: $lgray;
    td,th {
      border: 1px solid #eee;
    }
    .head {
      th {
        border: none;
        background-color: #dfdfdf;
        color: #4f4f4f;
      }
    }
    .total {
      color: $dgray;
      background-color: #f3f3f3;
      border: none;
      td {
        line-height: 1.6rem;
        padding: .9rem 1rem;
        border: none;
      }
    }
    span {
      color: $red;
    }
  }
}

.banner-img {
  width: 100%;
  display: block;
}
.banner {
  display: block;
  position: relative;
  @extend .size-base;
  .input-wrap {
    position: absolute;
    background-color: white;
    width: 86%;
    height: 3.25em;
    font-size: 1em;
    bottom: 1.1em;
    left: 50%;
    margin-left: -43%;
    @include border-radius(1.5em);
    text-align: center;
    .search-input {
      -webkit-appearance: none;
      color: $dgray;
      background: transparent;
      border: none;
      width: 75%;
      font-size: 1.25em;
      height: 2.6em;
      padding: .8em;
      box-sizing: border-box;
      text-align: center;
      outline: none;
    }
    .submit {
      @extend .no-highlight;
      position: absolute;
      right: 0;
      top: 0;
      height: 3.25em;
      width: 3.25em;
      text-align: center;
      box-sizing: border-box;
      padding-top: .8em;
      .iconfont {
        font-size: 1.5em;
        color: $dgray;
      }
    }
  }
}
.recommend {
  width: 100%;
  @extend .no-highlight;
  .tr.name {
    .td {
      padding: 2.4em 0 1.4em;
    }
    color: $g;
  }
  .tr.desc {
    .td {
      vertical-align: top;
      padding: 1.2em 0 .6em;
      color: #c2c2c2;
      line-height: 1.4em;
      font-size: 1em;
    }
  }
  .tr.buy {
    .td {
      padding: .6em 0 1.5em;
    }
    .link {
      font-size: 1em;
      display: inline-block;
      line-height: 1.8em;
      height: 1.8em;
      @include border-radius(.9em);
      border: 1px solid $g;
      color: $g;
      padding: 0 1.2em;
      box-sizing: border-box;
      @include transform(scale(0.85));
    }
  }
  .img {
    max-width: 100%;
    max-height: 6em;
  }
  .tr.image .td {
    height: 6em;
  }
  .col1, .col2, .col3 {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: none;
  }
  .col1 {
    width: 31%;
  }
  .col2 {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    .img {
      max-height: 5.2em;
    }
  }
  .col3 {
    width: 31%;
  }
}

