<header>
  <div class="header-middle">
    热量与营养表搜索
  </div>
</header>
<div class="home content-page">
  <section class="banner">
    <img class="banner-img" src="/images/bg.jpg" />
    <div class="input-wrap">
      <input type="text" placeholder="请输入食物名，如：鸡蛋" class="search-input" />
      <a href="javascript:;" class="submit"><i class="iconfont icon-search"></i></a>
    </div>
  </section>
  <table class="recommend"> <tbody> 
  <tr class="tr name">
    <td class="td col1">唯鲜果汁</td>
    <td class="td col2">专业健身减脂餐</td>
    <td class="td col3">排毒果蔬汁</td>
  </tr>
  <tr class="tr image">
    <td class="td col1"><img class="img" src="/images/1.png" /></td>
    <td class="td col2"><img class="img" src="/images/2.png" /></td>
    <td class="td col3"><img class="img" src="/images/3.png" /></td>
  </tr>
  <tr class="tr desc">
    <td class="td col1">
      <span class="text">100%纯鲜榨</span><br>
      <span class="text">12小时极速</span><br>
      <span class="text">冷链配送</span></td>
    <td class="td col2">
      <span class="text">周一到周五</span><br>
      <span class="text">餐单不重样</span><br>
      <span class="text">每天包括</span><br>
      <span class="text">早中晚加餐共4顿</span>
    </td>
    <td class="td col3">
      <span class="text">分解残食和宿便</span><br>
      <span class="text">活化体内细胞</span><br>
      <span class="text">清肠清血</span>
    </td>
    
  </tr>
  <tr class="tr buy">
    <td class="td col1"><a class="link" href="http://www.lovepurejoy.com/product/purejoy?fromCal">查看详情</a></td>
    <td class="td col2"><a class="link" href="http://www.lovepurejoy.com/product/meal?fromCal">查看详情</a></td>
    <td class="td col3"><a class="link" href="http://www.lovepurejoy.com/product/detox?fromCal">查看详情</a></td>
  </tr>
  </tbody> </table>
</div>

