<div class="home">
  <section class="banner">
    <img class="banner-img" src="/images/bg.jpg" />
    <div class="input-wrap">
      <input type="text" placeholder="请输入食物名，如：鸡蛋" class="search-input" />
      <a href="javascript:;" class="submit"><i class="iconfont icon-search"></i></a>
    </div>
  </section>
  <table class="recommend"> <tbody> 
  <tr class="tr name">
    <td class="td col2">专业健身减脂餐</td>
  </tr>
  <tr class="tr image">
    <td class="td col2"><img class="img" src="/images/2.png" /></td>
  </tr>
  <tr class="tr desc">
    <td class="td col2">
      <span class="text">周一到周五</span><br>
      <span class="text">餐单不重样</span><br>
      <span class="text">每天包括</span><br>
      <span class="text">早中晚加餐共4顿</span>
    </td>
  </tr>
  <tr class="tr buy">
    <td class="td col2"><a class="link" href="http://www.lovepurejoy.com/product/meal?fromCal">查看详情</a></td>
  </tr>
  </tbody> </table>
</div>

