<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>热量与营养表搜索</title>
    <!--[if lte IE 8]><script src="/js/html5shiv.min.js"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}
    <script src="/js/jquery.wap.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/home.js"></script>
  </body>

</html>
